@import url('https://fonts.googleapis.com/css2?family=Anton&family=Heebo&display=swap');

.navbar-brand {
  padding-left: 20px;
  font-family: 'Anton';
  font-size: 40px;
}

.me-auto {
  font-family: 'Heebo';
  font-size: 25px;
  margin-bottom: 0px;
}

.navbar .nav-link.active {
  color: rgb(255, 255, 255);
}

.navbar .nav-link:not(.active) {
  color: rgb(122, 120, 120);
}

.logga {
  position: relative;
  left: 100px;
  bottom: 60px;
}

.loginner {
  position: absolute;
  display: block;
  right: 70px;
  inset-block: block;
}